<mat-toolbar color="accent" class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Életbiztosítás kötés</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <button mat-fab extended routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">
            <mat-icon>home</mat-icon>
            Home
          </button>
        </li>
        <li class="nav-item" routerLink="/new-insurance" routerLinkActive="active" ariaCurrentWhenActive="page">
          <button mat-fab extended>
            <mat-icon>home</mat-icon>
            Biztosítás készítése
          </button>
        </li>
        <li class="nav-item">
          <button mat-fab extended routerLink="/insurances" routerLinkActive="active" ariaCurrentWhenActive="page">
            <mat-icon>home</mat-icon>
            Biztosítások
          </button>
        </li>
      </ul>
    </div>
  </div>
</mat-toolbar>
